{% extends 'nucleo/base.html' %}
{% load static %}
{% block title %}Estadísticas{% endblock %}
{% block content %}




<div  class="row justify-content-center">
  <div class="col-md-8">
    <div class="card" >
      <div class="card-header text-center" style="text-shadow:1px -3px 5px rgba(200,145,255,0.7);font-weight:normal;
                color:#2F6982;letter-spacing:3pt;word-spacing:5pt;font-size:30px;text-align:justify;
                font-family:lucida sans unicode, lucida grande, sans-serif;line-height:1;">Estadísticas 
      </div>

      <a href="{% url 'home' %}" class="btn btn-secondary float-right">Volver</a>

        
       

            <div class="card-body">
                    <div class="col-12 mb-2"></div>

                        <div class="card">
                                    <div class="card-header">
                                        <a style="text-shadow:1px 1px 1px rgba(79,185,255,1);font-weight:normal;color:#7E90BF;
                                                                letter-spacing:1pt;word-spacing:2pt;font-size:16px;text-align:justify;font-family:lucida sans unicode, lucida grande, sans-serif;
                                                                line-height:1;">Gestión de Estadísticas</a>
                                                                


                                    </div>

                                    <div class="card-body">
                                            <p style="text-shadow:1px -3px 5px rgba(200,145,255,0.7);font-weight:normal;
                color:hsl(200, 46%, 43%);letter-spacing:2pt;word-spacing:1pt;font-size:69px;text-align:center;
                font-family:lucida sans unicode, lucida grande, sans-serif;line-height:1;"> Datos Estadísticos</p>

                  
                                                
                                    </div>

                                    <div class="card-footer">
                                                    <div>
                                                    <a href="{% url 'estadisticas_encuestas_procedimientos' %}" class="btn btn-primary btn-lg btn-block">PROCEDIMIENTOS POR RESPUESTA</a> 
                                                    <a href="{% url 'estadisticas_procedimientos_medicos' %}" class="btn btn-info btn-lg btn-block">MÉDICOS POR PROCEDIMIENTOS</a> 
                                                    <a href="{% url 'estadisticas_encuestas_nuhsa' %}" class="btn btn-success btn-lg btn-block">PROCEDIMIENTOS POR NUHSA</a> 
                                                   
                                                                                                              
                                                    </div>
                                    </div>
                        </div>   

                      
            

            
                </div>





               


                


                
      
    
    </div>
    
  </div>
  
</div>








{% endblock %}