{% extends 'nucleo/base.html' %}
{% load static %}
{% block title %}Detalles del Paciente{% endblock %}
{% block content %}


<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header text-center" style="text-shadow:1px -3px 5px rgba(200,145,255,0.7);font-weight:normal;
                color:#2F6982;letter-spacing:3pt;word-spacing:5pt;font-size:30px;text-align:justify;
                font-family:lucida sans unicode, lucida grande, sans-serif;line-height:1;"> Directorio de Pacientes
      </div>

             
       

      <div class="card-body">
        <div class="col-12 mb-2"></div>

        <div class="card">
          <div class="card-header">
            <a style="text-shadow:1px 1px 1px rgba(79,185,255,1);font-weight:normal;color:#7E90BF;
                                    letter-spacing:1pt;word-spacing:2pt;font-size:16px;text-align:justify;font-family:lucida sans unicode, lucida grande, sans-serif;
                                    line-height:1;">Nombre del Responsable Médico: <i>{{request.user}}</i></a>
          </div>

          <div class="card-body">
            <b>Nombre:</b>{{pacientes.nombre}}
            <br>
            <b>Apellidos:</b> {{pacientes.apellidos}}
            <br>
            <b>Teléfono:</b> {{pacientes.telefono}}
            <br>
            <b>Nuhsa:</b> {{pacientes.nuhsa}}
            <br>       
            
            <b>Fecha de Creación: </b>{{pacientes.created}}
            <br>
            <b>Fecha de edición: </b> {{pacientes.updated}}            
          </div>

          <div class="card-footer">
            <div class="float-right">
              
             

              <a href="{% url 'listar_pacientes' %}" class="btn btn-info">Volver</a>             

              
              
            </div>
          </div>
        </div>
      </div>
     
   
    </div>
    
  </div>
  
</div>



{% endblock %}