{% extends 'nucleo/base.html' %}
{% load static %}
{% block title %}Detalles de la Pregunta{% endblock %}
{% block content %}


<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header text-center" style="text-shadow:1px -3px 5px rgba(200,145,255,0.7);font-weight:normal;
                color:#2F6982;letter-spacing:3pt;word-spacing:5pt;font-size:30px;text-align:justify;
                font-family:lucida sans unicode, lucida grande, sans-serif;line-height:1;"> Directorio de Preguntas
      </div>

             
        {% if request.user == encuestas.medico %}

      <div class="card-body">
        <div class="col-12 mb-2"></div>

        <div class="card">
          <div class="card-header">
            <a style="text-shadow:1px 1px 1px rgba(79,185,255,1);font-weight:normal;color:#7E90BF;
                                    letter-spacing:1pt;word-spacing:2pt;font-size:16px;text-align:justify;font-family:lucida sans unicode, lucida grande, sans-serif;
                                    line-height:1;">Nombre del Responsable Médico: <i>{{request.user}}</i></a>
          </div>

          <div class="card-body">
            
            
            <p style="text-shadow:1px -3px 5px rgba(200,145,255,0.7);font-weight:normal;
                color:#0a3470;letter-spacing:2pt;word-spacing:1pt;font-size:12px;text-align:center;
                font-family:lucida sans unicode, lucida grande, sans-serif;line-height:1;">PREGUNTA</p>
            <p style="text-shadow:1px -3px 5px rgba(200,145,255,0.7);font-weight:normal;
                color:#428cf4;letter-spacing:2pt;word-spacing:1pt;font-size:30px;text-align:center;
                font-family:lucida sans unicode, lucida grande, sans-serif;line-height:1;"> {{encuestas.pregunta}}</p>
                <p style="text-shadow:1px -3px 5px rgba(200,145,255,0.7);font-weight:normal;
                color:#0a3470;letter-spacing:2pt;word-spacing:1pt;font-size:12px;text-align:center;
                font-family:lucida sans unicode, lucida grande, sans-serif;line-height:1;">RESPUESTA</p>
            <p style="text-shadow:1px -3px 5px rgba(200,145,255,0.7);font-weight:normal;
                color:#079b8c;letter-spacing:2pt;word-spacing:1pt;font-size:69px;text-align:center;
                font-family:lucida sans unicode, lucida grande, sans-serif;line-height:1;"> {{encuestas.respuesta}}</p>
                <p style="text-shadow:1px -3px 5px rgba(200,145,255,0.7);font-weight:normal;
                color:#0a3470;letter-spacing:2pt;word-spacing:1pt;font-size:12px;text-align:center;
                font-family:lucida sans unicode, lucida grande, sans-serif;line-height:1;">PROCEDIMIENTO</p>
            <p style="text-shadow:1px -3px 5px rgba(200,145,255,0.7);font-weight:normal;
                color:#c795ed;letter-spacing:2pt;word-spacing:1pt;font-size:22px;text-align:center;
                font-family:lucida sans unicode, lucida grande, sans-serif;line-height:1;"> {{encuestas.procedimiento}}</p>
                <p style="text-shadow:1px -3px 5px rgba(200,145,255,0.7);font-weight:normal;
                color:#0a3470;letter-spacing:2pt;word-spacing:1pt;font-size:12px;text-align:center;
                font-family:lucida sans unicode, lucida grande, sans-serif;line-height:1;">Fecha de Creación</p>
            <p style="text-shadow:1px -3px 5px rgba(200,145,255,0.7);font-weight:normal;
                color:#7e7487;letter-spacing:2pt;word-spacing:1pt;font-size:17px;text-align:center;
                font-family:lucida sans unicode, lucida grande, sans-serif;line-height:1;"> {{encuestas.created}}</p>
                <p style="text-shadow:1px -3px 5px rgba(200,145,255,0.7);font-weight:normal;
                color:#0a3470;letter-spacing:2pt;word-spacing:1pt;font-size:12px;text-align:center;
                font-family:lucida sans unicode, lucida grande, sans-serif;line-height:1;">Fecha de Respuesta</p>
            <p style="text-shadow:1px -3px 5px rgba(200,145,255,0.7);font-weight:normal;
                color:#7e7487;letter-spacing:2pt;word-spacing:1pt;font-size:17px;text-align:center;
                font-family:lucida sans unicode, lucida grande, sans-serif;line-height:1;"> {{encuestas.updated}}</p>
            
          </div>

          <div class="card-footer">
            <div class="float-right">
              
              

              <a href="{% url 'listar_encuestas' %}" class="btn btn-info">Volver</a>             

             
            </div>
          </div>
        </div>
      </div>
      {% endif %}
   
    </div>
    
  </div>
  
</div>



{% endblock %}