{% extends 'nucleo/base.html' %}
{% load static %}
{% block title %}Procedimientos{% endblock %}
{% block content %}


<div  class="row justify-content-center">
  <div class="col-md-8">
    <div class="card" >
      <div class="card-header text-center" style="text-shadow:1px -3px 5px rgba(200,145,255,0.7);font-weight:normal;
                color:#2F6982;letter-spacing:3pt;word-spacing:5pt;font-size:30px;text-align:justify;
                font-family:lucida sans unicode, lucida grande, sans-serif;line-height:1;"> Directorio de Procedimientos
      </div>

      <a href="{% url 'crear_procedimientos' %}" class="btn btn-primary float-right">Añadir Procedimiento</a>

        {% for p in procedimientos %}
       

      <div class="card-body">
        <div class="col-12 mb-2"></div>

        <div class="card">
          <div class="card-header">
            <a style="text-shadow:1px 1px 1px rgba(79,185,255,1);font-weight:normal;color:#7E90BF;
                                    letter-spacing:1pt;word-spacing:2pt;font-size:16px;text-align:justify;font-family:lucida sans unicode, lucida grande, sans-serif;
                                    line-height:1;">Responsable Médico del Procedimiento: <i>Dr./Dra. {{p.medico.last_name}}</i></a>
          </div>

          <div class="card-body">
            <div class="card-body">
            
            <p style="text-shadow:1px -3px 5px rgba(200,145,255,0.7);font-weight:normal;
                color:#0a3470;letter-spacing:2pt;word-spacing:1pt;font-size:12px;text-align:center;
                font-family:lucida sans unicode, lucida grande, sans-serif;line-height:1;">NOMBRE DEL PROCEDIMIENTO</p>
            <p style="text-shadow:1px -3px 5px rgba(200,145,255,0.7);font-weight:normal;
                color:#c795ed;letter-spacing:2pt;word-spacing:1pt;font-size:22px;text-align:center;
                font-family:lucida sans unicode, lucida grande, sans-serif;line-height:1;"> {{p.nombre}}</p>
            <p style="text-shadow:1px -3px 5px rgba(200,145,255,0.7);font-weight:normal;
                color:#0a3470;letter-spacing:2pt;word-spacing:1pt;font-size:12px;text-align:center;
                font-family:lucida sans unicode, lucida grande, sans-serif;line-height:1;">DESCRIPCIÓN</p>
            <p style="text-shadow:1px -3px 5px rgba(200,145,255,0.7);font-weight:normal;
                color:#428cf4;letter-spacing:2pt;word-spacing:1pt;font-size:37px;text-align:center;
                font-family:lucida sans unicode, lucida grande, sans-serif;line-height:1;"> {{p.descripcion}}</p>
            
          </div>    
          </div>

          <div class="card-footer">
            <div class="float-right">
              <a href="{% url 'detallar_procedimientos' p.id %}" class="btn btn-info">Detalles</a>
              

              <a href="{% url 'editar_procedimientos' p.id %}" class="btn btn-secondary">Editar</a>

              <a href="{% url 'borrar_procedimientos' p.id %}" class="btn btn-danger">Borrar</a>

              
              
            </div>
          </div>
        </div>
      </div>
      
    {% endfor %}
    </div>
    
  </div>
  
</div>



{% endblock %}