{% extends 'nucleo/base.html' %}
{% load static %}
{% block title %}Encuestas{% endblock %}
{% block content %}



<div  class="row justify-content-center">
  <div class="col-md-8">
    <div class="card" >
      <div class="card-header text-center" style="text-shadow:1px -3px 5px rgba(200,145,255,0.7);font-weight:normal;
                color:#2F6982;letter-spacing:3pt;word-spacing:5pt;font-size:30px;text-align:justify;
                font-family:lucida sans unicode, lucida grande, sans-serif;line-height:1;"> Directorio de Preguntas
      </div>

      <a href="{% url 'crear_encuestas' %}" class="btn btn-primary float-right">Añadir Pregunta</a>

        {% for e in encuestas %}
        {% if request.user == e.medico %}

      <div class="card-body">
        <div class="col-12 mb-2"></div>

        <div class="card">
          <div class="card-header">
            <a style="text-shadow:1px 1px 1px rgba(79,185,255,1);font-weight:normal;color:#7E90BF;
                                    letter-spacing:1pt;word-spacing:2pt;font-size:16px;text-align:justify;font-family:lucida sans unicode, lucida grande, sans-serif;
                                    line-height:1;">Nombre del Responsable Médico: <i>{{request.user}}</i></a>
          </div>

          <div class="card-body">
            
            <p style="text-shadow:1px -3px 5px rgba(200,145,255,0.7);font-weight:normal;
                color:#0a3470;letter-spacing:2pt;word-spacing:1pt;font-size:12px;text-align:center;
                font-family:lucida sans unicode, lucida grande, sans-serif;line-height:1;">PROCEDIMIENTO</p>
            <p style="text-shadow:1px -3px 5px rgba(200,145,255,0.7);font-weight:normal;
                color:#c795ed;letter-spacing:2pt;word-spacing:1pt;font-size:22px;text-align:center;
                font-family:lucida sans unicode, lucida grande, sans-serif;line-height:1;"> {{e.procedimiento}}</p>
            <p style="text-shadow:1px -3px 5px rgba(200,145,255,0.7);font-weight:normal;
                color:#0a3470;letter-spacing:2pt;word-spacing:1pt;font-size:12px;text-align:center;
                font-family:lucida sans unicode, lucida grande, sans-serif;line-height:1;">PREGUNTA</p>
            <p style="text-shadow:1px -3px 5px rgba(200,145,255,0.7);font-weight:normal;
                color:#428cf4;letter-spacing:2pt;word-spacing:1pt;font-size:37px;text-align:center;
                font-family:lucida sans unicode, lucida grande, sans-serif;line-height:1;"> {{e.pregunta}}</p>
                <br>
                {% if e.contestacion == 'NO' %}
            <p style="text-shadow:1px -3px 5px rgba(200,145,255,0.7);font-weight:normal;
                color:#b21121;letter-spacing:2pt;word-spacing:1pt;font-size:16px;text-align:right;
                font-family:lucida sans unicode, lucida grande, sans-serif;line-height:1;">{{e.contestacion}} HA SIDO RESPONDIDA</p>
                {% endif %}

                {% if e.contestacion == 'SI' %}
            <p style="text-shadow:1px -3px 5px rgba(200,145,255,0.7);font-weight:normal;
                color:#3eb233;letter-spacing:2pt;word-spacing:1pt;font-size:16px;text-align:right;
                font-family:lucida sans unicode, lucida grande, sans-serif;line-height:1;">{{e.contestacion}} HA SIDO RESPONDIDA</p>
                {% endif %}
          </div>

          <div class="card-footer">
            <div class="float-right">
              <a href="{% url 'detallar_encuestas' e.id %}" class="btn btn-info">Detalles</a>
              

              <a href="{% url 'editar_encuestas' e.id %}" class="btn btn-secondary">Editar</a>

              <a href="{% url 'borrar_encuestas' e.id %}" class="btn btn-danger">Borrar</a>

              
              
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
    </div>
    
  </div>
  
</div>





{% endblock %}