{% extends 'nucleo/base.html' %}
{% load static %}
{% block title %}Pacientes{% endblock %}
{% block content %}


<div  class="row justify-content-center">
  <div class="col-md-8">
    <div class="card" >
      <div class="card-header text-center" style="text-shadow:1px -3px 5px rgba(200,145,255,0.7);font-weight:normal;
                color:#2F6982;letter-spacing:3pt;word-spacing:5pt;font-size:30px;text-align:justify;
                font-family:lucida sans unicode, lucida grande, sans-serif;line-height:1;"> Directorio de Pacientes
      </div>

      <a href="{% url 'crear_pacientes' %}" class="btn btn-primary float-right">Añadir Paciente</a>

        {% for p in pacientes %}
       

      <div class="card-body">
        <div class="col-12 mb-2"></div>

        <div class="card">
          <div class="card-header">
            <a style="text-shadow:1px 1px 1px rgba(79,185,255,1);font-weight:normal;color:#7E90BF;
                                    letter-spacing:1pt;word-spacing:2pt;font-size:16px;text-align:justify;font-family:lucida sans unicode, lucida grande, sans-serif;
                                    line-height:1;">Nombre del Responsable Médico: <i>{{request.user}}</i></a>
          </div>

          <div class="card-body">
            <p><b>Nombre: </b>{{p.nombre}}</p>             
            <p><b>Apellidos: </b>{{p.apellidos}}</p>             
            <br>
                      
          </div>

          <div class="card-footer">
            <div class="float-right">
              <a href="{% url 'detallar_pacientes' p.id %}" class="btn btn-info">Detalles</a>
            

              <a href="{% url 'editar_pacientes' p.id %}" class="btn btn-secondary">Editar</a>

              <a href="{% url 'borrar_pacientes' p.id %}" class="btn btn-danger">Borrar</a>

              
              
            </div>
          </div>
        </div>
      </div>
      
    {% endfor %}
    </div>
    
  </div>
  
</div>



{% endblock %}