{% extends 'nucleo/base.html' %}
{% load static %}
{% block title %}Crear Pacientes{% endblock %}
{% block content %}




<div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header text-center" style="text-shadow:1px -3px 5px rgba(200,145,255,0.7);font-weight:normal;
                      color:#2F6982;letter-spacing:3pt;word-spacing:5pt;font-size:30px;text-align:justify;
                      font-family:lucida sans unicode, lucida grande, sans-serif;line-height:1;"> Gestión de Pacientes para la Encuesta
            </div>
      
            
      
             
      
            <div class="card-body">
              <div class="col-12 mb-2"></div>
      
              <div class="card">
                <div class="card-header">
                  <a style="text-shadow:1px 1px 1px rgba(79,185,255,1);font-weight:normal;text-decoration:underline;color:#7E90BF;
                                          letter-spacing:1pt;word-spacing:2pt;font-size:16px;text-align:justify;font-family:lucida sans unicode, lucida grande, sans-serif;
                                          line-height:1;">CREAR PACIENTE: INTRODUZCA LOS DATOS SOLICITADOS</a>
                </div>
                <br>
      
                <form action="" method="post">{% csrf_token %}
                        <div class="form-group">                          
                            <p style="text-shadow:1px -3px 5px rgba(200,145,255,0.7);font-weight:normal;
                color:#0a3470;letter-spacing:2pt;word-spacing:1pt;font-size:15px;text-align:center;
                font-family:lucida sans unicode, lucida grande, sans-serif;line-height:1;"> NOMBRE</p>    
                            <div class="input-group"> {{ form.nombre }} </div>                        
                          </div>
                          <div class="form-group">                          
                              <p style="text-shadow:1px -3px 5px rgba(200,145,255,0.7);font-weight:normal;
                color:#0a3470;letter-spacing:2pt;word-spacing:1pt;font-size:15px;text-align:center;
                font-family:lucida sans unicode, lucida grande, sans-serif;line-height:1;"> APELLIDOS</p>    
                              <div class="input-group"> {{ form.apellidos }} </div>                        
                            </div>
                          <div class="form-group">                          
                              <p style="text-shadow:1px -3px 5px rgba(200,145,255,0.7);font-weight:normal;
                color:#0a3470;letter-spacing:2pt;word-spacing:1pt;font-size:15px;text-align:center;
                font-family:lucida sans unicode, lucida grande, sans-serif;line-height:1;"> TELEFONO </p>
                              <div class="input-group"> {{ form.telefono }} </div>                        
                            </div>


                            <div class="form-group">      
                            <p style="text-shadow:1px -3px 5px rgba(200,145,255,0.7);font-weight:normal;
                color:#e29c6c;letter-spacing:2pt;word-spacing:1pt;font-size:35px;text-align:center;
                font-family:lucida sans unicode, lucida grande, sans-serif;line-height:1;"> NUHSA </p>                  
                          
                         <div class="input-group"> {{ form.nuhsa }} </div>                        
                        </div>
                        <input type="submit" class="btn btn-secondary float-right" value="ACEPTAR" />
                </form>
                        
                   
      
                

              </div>
            </div>
           
          </div>
          
        </div>
        
      </div>
{% endblock %}